html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans SC", "sans-serif";
}

.wrap {
  width: 100%;
  height: 710px;
  background: url(../img/bg.png) no-repeat center center;
}

.content {
  position: relative;
  width: 1200px;
  height: auto;
  margin: auto;
}

.kaiwen {
  position: absolute;
  width: 290px;
  height: 540px;
  left: 0;
  top: 90px;
}

.kaiwen::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  top: 0;
  left: 0;
  background-color: #030f32;
  z-index: 1;
}

.kaiwen::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 500px;
  top: 40px;
  left: 40px;
  background-color: #fff;
  z-index: 2;
}

.pro {
  position: absolute;
  width: 80px;
  color: #030f32;
  left: 84px;
  top: 75px;
  z-index: 3;
}

.pro::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background-color: #00ccff;
  top: 2px;
  left: -20px;
}

.pro::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background-color: #030f32;
  top: 9px;
  left: -20px;
}

.pro h2 {
  font-size: 15px;
}

.pro p {
  font-size: 20px;
}

.pro hr {
  height: 1px;
  background-color: #030f32;
}

.photo {
  position: absolute;
  width: 190px;
  height: 190px;
  top: 150px;
  left: 70px;
  border-radius: 190px;
  -webkit-border-radius: 190px;
  -moz-border-radius: 190px;
  z-index: 3;
  overflow: hidden;
}

.text {
  position: absolute;
  z-index: 3;
  width: 170px;
  height: 170px;
  font-size: 13px;
  top: 360px;
  left: 100px;
}

.text ul li {
  list-style-type: disc;
  line-height: 22px;
}

.text ul li a {
  color: #030f32;
}
.text ul li a:hover {
  text-decoration: none;
}

.text ul li:nth-of-type(1), .text ul li:nth-of-type(2), .text ul li:nth-of-type(3) {
  color: #017ea9;
}

.exp {
  position: absolute;
  width: 820px;
  height: 420px;
  top: 160px;
  left: 390px;
}

.exp .title {
  width: 155px;
  height: 30px;
  color: #00ccff;
  font-size: 26px;
  border-bottom: solid 3px #00ccff;
}

.exp .title span {
  font-size: 15px;
  line-height: 38px;
  float: right;
  vertical-align: bottom;
}

.exp ul {
  margin: 20px 0 0 30px;
}

.exp ul li {
  list-style-type: disc;
  line-height: 26px;
  color: #00ccff;
  font-size: 15px;
}

.exp ul li p {
  color: #fff;
}

.main01 {
  width: 100%;
  height: 930px;
}

.case {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0;
  top: 65px;
}

.case::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 200px;
  background-color: #00ccff;
  top: 0;
  right: 0;
  z-index: 1;
}

.case::after {
  content: "";
  position: absolute;
  width: 265px;
  height: 255px;
  background-color: #030f32;
  z-index: 2;
  top: 30px;
}

.case h3 {
  position: absolute;
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  color: #fff;
  top: 150px;
  left: 75px;
  border-bottom: solid 1px #fff;
  z-index: 3;
}

.tag {
  position: absolute;
  font-size: 15px;
  color: #a8a8a8;
  z-index: 3;
  top: 90px;
  left: 80px;
}

.tag::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background-color: #00ccff;
  top: 2px;
  left: -20px;
}

.tag::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background-color: #103293;
  top: 9px;
  left: -20px;
}

.swiper-container {
  position: relative;
  width: 870px;
  height: 900px;
  margin-top: 65px;
}

.swiper-wrapper {
  position: absolute;
  width: 870px;
  height: 900px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.all {
  position: absolute;
  width: 3000px;
  height: auto;
}

.all .swiper-slide {
  position: relative;
  width: 870px;
  margin-top: 81px;
  display: inline-block;
}

.box {
  position: relative;
  display: inline-block;
  width: 275px;
  height: 370px;
  margin: 15px 11px 0 0;
}

.box a {
  display: block;
  width: 275px;
  height: 370px;
  text-decoration: none;
  background-color: #d5d5d5;
}

.box a::before {
  content: "view";
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  font-size: 20px;
  background-color: #103293;
  color: #fff;
  text-align: center;
  left: 50%;
  top: 150px;
  margin-left: -40px;
}

.box a h2 {
  width: 240px;
  height: 18px;
  font-size: 18px;
  color: #000;
  margin: 55px 0 5px 20px;
  font-weight: bold;
}

.box a p {
  width: 240px;
  font-size: 13px;
  color: #656565;
  line-height: 18px;
  margin: 0 0 0 20px;
}
